/* color scheme */
$background: #225fbf;
$text-full: #fff;
$text-blue: #ccdfff;
$text-normal: #333d47;

/* font-size */
$text_medium: 15px;
$text_big: 24px;
$text_small: 13px;
$text_extra_small: 11px;
